/* products */

a {
    color: black;
}


.products {
    background: rgb(19, 120, 126);
    background: linear-gradient(60deg, rgba(19, 120, 126, 1) 0%, rgba(76, 17, 147, 1) 21%, rgba(149, 43, 150, 1) 100%);
    background-size: 100%;
    background-position: center;
    padding: 125px 0;
}


.products__inner {
    display: flex;
}


.products__sorting {
    width: 100%;
    max-width: 400px;
    background-color: rgba(10, 2, 20, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    min-height: 100vh;
}


.products__form form {
    align-items: center;
    display: flex;
    position: relative;
}


.products__form form input {
    width: 300px;
    caret-color: purple;
    background-color: silver;
    font-weight: bold;
    height: 40px;
    border: 2px solid silver;
    outline: none;
    border-radius: 0 8px 8px 0;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}


.products__form form img {
    background-color: silver;
    height: 40px;
    width: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px 0 0 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}


.products__select {
    margin-top: 50px;
}


.products__select select {
    background-color: silver;
    width: 100%;
    font-weight: bold;
    height: 40px;
    border: 2px solid silver;
    outline: none;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}


.products__select option {
    padding: 10px;
}


.products__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
    gap: 20px;
    padding-top: 100px;
}


.products__block {
    padding-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    box-shadow: 10px 5px 5px #1F1F1F;
    overflow: hidden;
    cursor: pointer;
}


.products__block__name {
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


.products__block__price {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}


.products__block__info {
    margin-left: 50px;
    font-size: 14px;
    opacity: 0.8;
}