.upper {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upper h2,
.upper a {
    color: white;
    font-size: 16px;
    user-select: none;
}


.upper__block {
    width: 100%;
    height: 40px;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.upper__block__local h2 {
    color: yellow;
}


.upper__block__local span {
    color: dodgerblue;
}


.upper__block__info h2 {
    text-transform: uppercase;
}


.upper__block__connect {
    display: flex;
    align-items: center;
}


.upper__block__connect a {
    margin-left: 10px;
    overflow: hidden;
}


.social {
    color: dodgerblue;

    transition: all 0.2s linear;
}


.social:hover {
    color: yellow;
}


@media (max-width: 1200px) {
    .upper h2,
    .upper a {
        font-size: 14px;
    }


    .upper__block {
        margin: 0 40px;
    }
}


@media (max-width: 900px) {
    .upper {
        height: 30px;
    }


    .upper h2,
    .upper a {
        font-size: 12px;
    }


    .upper__block {
        margin: 0 30px;
        height: 30px;
    }


    .upper__block__connect a {
        margin-left: 8px;
    }
}


@media (max-width: 700px) {
    .upper {
        height: 25px;
    }


    .upper h2,
    .upper a {
        font-size: 10px;
    }


    .upper__block {
        margin: 0 20px;
        height: 25px;
    }


    .upper__block__connect a {
        margin-left: 5px;
    }
}


@media (max-width: 600px) {
    .upper {
        height: 20px;
    }


    .upper h2,
    .upper a {
        font-size: 8px;
    }


    .upper__block {
        margin: 0 10px;
        height: 20px;
    }
}
