/* products */


.products__sorting {
    width: 100%;
    padding: 40px 0;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}


.products__form form {
    align-items: center;
    display: flex;
}


.products__form form input {
    width: 600px;
    background-color: #F4F4F4;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-transform: uppercase;
}


.products__form form img {
    background-color: #F4F4F4;
    height: 60px;
    border-bottom: 2px solid black;
    /*border-top: 2px solid black;*/
    width: 36px;
    cursor: pointer;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border-radius: 8px 0 0 8px;*/
    /*box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);*/
}


/*.products__select {*/
/*    margin-top: 50px;*/
/*}*/


.products__select select {
    background-color: #F4F4F4;
    font-size: 24px;
    width: 100%;
    border: none;
    font-weight: bold;
    height: 60px;
    border-bottom: 2px solid black;
    outline: none;
    padding-left: 10px;
}


.products__select option {
}


.products__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;
    padding: 100px 0;
    gap: 50px;
}
