
.products__carts {
    color: white;
    font-weight: bold;
    width: 300px;
    height: 450px;
    background-color: #442d85;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 5px 5px #1F1F1F;
}


.products__carts__img {
    width: 100%;
}


.products__carts__name {
    margin: 20px 0 10px 50px;
    font-size: 20px;
    text-transform: uppercase;
}


.products__carts__price {
    margin: 0 0 10px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}


.products__carts__info {
    margin-left: 50px;
    font-size: 14px;
    opacity: 0.8;
}
