/* intro */

.intro {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/backgrounds/ruf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.intro__shop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


#intro__shop_id {
    width: 100px;
    height: 200px;
    opacity: 0;
}


.intro__shop p {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    user-select: none;
}


.intro__shop__button {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    background-color: black;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    user-select: none;

    transition: all 0.2s linear;
}


.intro__shop__button:hover {
    background-color: white;
    color: black;
    border: solid 1px white;
}


/* container */

.container {
    display: flex;
    justify-content: center;
    background-color: #1F1F1F;
    padding: 0 70px;
}


.first {
    padding-top: 150px;
}


.second {
    padding-bottom: 150px;
}


.container__inner {
    width: 100%;
    overflow: hidden;
}


.container__body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s linear;
}


.container__body:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}


.container__body:hover {
    transform: scale(1.1);
}


.container__body div {
    position: absolute;
    z-index: 5;
}


.container__body p {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.container__button {
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 18px;
    background-color: black;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    transition: all 0.2s linear;
}


.container__button:hover {
    background-color: white;
    color: black;
    border: solid 1px white;
}


.container__body img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


#gucci p {
    color: black;
}


.con-two {
    margin-top: 150px;
}


.con-three {
    margin-top: -150px;
    margin-bottom: 150px;
}


/* box */

.box {
    margin: 150px 0;
}


#box__img-1,
#box__img-2,
#box__img-3 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#box__img-1 {
    background-image: url("../../images/backgrounds/man.jpg");
}


#box__img-2 {
    background-image: url("../../images/backgrounds/woman.jpg");
}


#box__img-3 {
    background-image: url("../../images/backgrounds/summer.jpg");
}


/* body */

.body {
    position: relative;
    height: 1100px;
    background-image: url("../../images/block/fon.jpg");
    display: flex;
    align-items: center;
}


.body__info {
    max-width: 500px;
    text-align: center;
    margin-left: 100px;
}


.body__info h2 {
    color: white;
    font-size: 44px;
    user-select: none;
}


.body__info p {
    margin-top: 20px;
    color: white;
    font-size: 24px;
    opacity: 0.9;
    user-select: none;
}


.body__img {
    margin-right: 100px;
    position: absolute;
    right: 0
}


.body__img img {
    width: 100%;
}


/* content */

.content {
    width: 100%;
    max-width: 600px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content h2 {
    font-size: 32px;
}


.content p {
    padding: 20px 0;
    opacity: 0.7;
}


.content input {
    width: 250px;
    height: 50px;
    padding-left: 15px;
}


.content button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
}


.content button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}


@media (max-width: 1600px) {
    .first {
        padding-top: 100px;
    }


    .second {
        padding-bottom: 100px;
    }


    .container__body {
        height: 80vh;
    }


    .box {
        margin: 100px 0;
    }


    .body {
        height: 1000px;
    }


    .body__info {
        max-width: 500px;
    }


    .body__info h2 {
        font-size: 40px;
    }


    .body__info p {
        margin-top: 18px;
        font-size: 20px;
    }


    .body__img {
        width: 50%;
    }
}


@media (max-width: 1400px) {

    .container__body {
        height: 70vh;
    }


    .body {
        height: 800px;
    }


    .body__info {
        max-width: 400px;
    }


    .body__info h2 {
        font-size: 36px;
    }


    .body__info p {
        font-size: 16px;
    }


    .body__img {
        width: 45%;
    }
}


@media (max-width: 1200px) {
    .intro {
        width: 100%;
        height: 80vh;
    }


    #intro__shop_id {
        height: 100px;
    }


    .intro__shop p {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .intro__shop__button {
        font-size: 16px;
        width: 160px;
        padding: 18px;
    }


    .container {
        padding: 0 50px;
    }


    .first {
        padding-top: 100px;
    }


    .second {
        padding-bottom: 100px;
    }


    .container__body {
        height: 60vh;
    }


    .container__body p {
        font-size: 28px;
        margin-bottom: 10px;
    }


    .container__button {
        font-size: 16px;
        width: 160px;
        padding: 18px;
    }


    .con-two {
        margin-top: 100px;
    }


    .con-three {
        margin-top: -100px;
        margin-bottom: 100px;
    }


    .box {
        margin: 100px 0;
    }


    #box__img-1,
    #box__img-2,
    #box__img-3 {
        height: 80vh;
    }


    .body {
        height: 70vh
    }


    .body__info {
        max-width: 400px;
        margin-left: 50px;
    }


    .body__info h2 {
        font-size: 32px;
    }


    .body__info p {
        margin-top: 10px;
    }


    .body__img {
        margin-right: 50px;
        width: 40%;
    }


    .content h2 {
        font-size: 28px;
    }
}


@media (max-width: 1000px) {
    .intro {
        width: 100%;
        height: 60vh;
    }


    #intro__shop_id {
        height: 50px;
    }


    .intro__shop p {
        font-size: 12px;
        margin-bottom: 10px;
    }


    .intro__shop__button {
        font-size: 14px;
        width: 140px;
        padding: 16px;
    }


    .first {
        padding-top: 50px;
    }


    .second {
        padding-bottom: 50px;
    }


    .container__body {
        height: 40vh;
    }


    .con-two {
        margin-top: 50px;
    }


    .con-three {
        margin-top: -50px;
        margin-bottom: 50px;
    }


    .container__body p {
        font-size: 24px;
        margin-bottom: 10px;
    }


    .container__button {
        font-size: 14px;
        width: 140px;
        padding: 16px;
    }


    .box {
        margin: 50px 30px;
    }


    #box__img-1,
    #box__img-2,
    #box__img-3 {
        height: 60vh;
    }


    .body {
        height: 50vh
    }


    .body__info {
        max-width: 300px;
        margin-left: 50px;
    }


    .body__info h2 {
        font-size: 24px;
    }


    .body__info p {
        font-size: 14px;
    }


    .body__img {
        margin-right: 50px;
        width: 35%;
    }


    .content {
        max-width: 500px;
        height: 250px;
    }


    .content h2 {
        font-size: 24px;
    }


    .content p {
        padding: 15px 0;
    }


    .content input {
        width: 250px;
        height: 50px;
        padding-left: 15px;
    }
}


@media (max-width: 700px) {
    .intro {
        height: 50vh;
    }


    #intro__shop_id {
        height: 40px;
    }


    .intro__shop p {
        font-size: 11px;
        margin-bottom: 6px;
    }


    .intro__shop__button {
        font-size: 12px;
        width: 120px;
        padding: 14px;
    }


    .container {
        padding: 0 30px;
    }


    .first {
        padding-top: 40px;
    }


    .second {
        padding-bottom: 40px;
    }


    .con-two {
        margin-top: 40px;
    }


    .con-three {
        margin-top: -40px;
        margin-bottom: 40px;
    }


    .container__body {
        height: 30vh;
    }


    .container__body p {
        font-size: 20px;
        margin-bottom: 6px;
    }


    .container__button {
        font-size: 12px;
        width: 120px;
        padding: 14px;
    }


    .box {
        margin: 40px 30px;
    }


    #box__img-1,
    #box__img-2,
    #box__img-3 {
        height: 50vh;
    }


    .body {
        height: 40vh
    }


    .body__info {
        max-width: 260px;
        margin-left: 30px;
    }


    .body__info h2 {
        font-size: 20px;
    }


    .body__info p {
        font-size: 12px;
    }


    .body__img {
        margin-right: 30px;
    }


    .content {
        max-width: 400px;
        height: 250px;
    }


    .content h2 {
        font-size: 20px;
    }


    .content p {
        font-size: 12px;
        padding: 10px 0;
    }


    .content input {
        font-size: 12px;
        width: 220px;
        height: 40px;
        padding-left: 10px;
    }


    .content button {
        font-size: 12px;
        height: 40px;
        width: 180px;
    }
}


@media (max-width: 600px) {
    .intro {
        height: 40vh;
    }


    .intro__shop p {
        font-size: 10px;
    }


    .intro__shop__button {
        font-size: 11px;
        width: 100px;
        padding: 12px;
    }


    .container {
        padding: 0 20px;
    }


    .first {
        padding-top: 30px;
    }


    .second {
        padding-bottom: 30px;
    }


    .con-two {
        margin-top: 30px;
    }


    .con-three {
        margin-top: -30px;
        margin-bottom: 30px;
    }


    .container__body p {
        font-size: 16px;
    }


    .container__button {
        font-size: 11px;
        width: 100px;
        padding: 12px;
    }


    .box {
        margin: 30px 20px;
    }


    #box__img-1,
    #box__img-2,
    #box__img-3 {
        height: 40vh;
    }


    .body {
        height: 30vh
    }


    .body__info {
        max-width: 220px;
        margin-left: 20px;
    }


    .body__info h2 {
        font-size: 16px;
    }


    .body__info p {
        font-size: 10px;
    }


    .body__img {
        margin-right: 20px;
    }


    .content {
        max-width: 400px;
        height: 180px;
    }


    .content h2 {
        font-size: 16px;
    }


    .content p {
        font-size: 10px;
        padding: 10px 0;
    }


    .content input {
        font-size: 10px;
        width: 200px;
        height: 30px;
        padding-left: 5px;
    }


    .content button {
        font-size: 10px;
        height: 30px;
        width: 140px;
    }
}


@media (max-width: 500px) {
    .intro {
        height: 30vh;
    }


    .intro__shop p {
        font-size: 8px;
    }


    .intro__shop__button {
        font-size: 10px;
        width: 80px;
        padding: 10px;
    }


    .container {
        padding: 0 10px;
    }


    .first {
        padding-top: 20px;
    }


    .second {
        padding-bottom: 20px;
    }


    .con-two {
        margin-top: 20px;
    }


    .con-three {
        margin-top: -20px;
        margin-bottom: 20px;
    }


    .container__body p {
        font-size: 14px;
    }


    .container__button {
        font-size: 10px;
        width: 80px;
        padding: 10px;
    }


    .box {
        margin: 20px 10px;
    }


    #box__img-1,
    #box__img-2,
    #box__img-3 {
        height: 30vh;
    }


    .body {
        height: 25vh
    }


    .body__info {
        max-width: 180px;
        margin-left: 20px;
    }


    .body__info h2 {
        font-size: 14px;
    }


    .body__info p {
        font-size: 8px;
    }


    .body__img {
        margin-right: 20px;
    }


    .content {
        max-width: 400px;
        height: 160px;
    }


    .content h2 {
        font-size: 14px;
    }


    .content p {
        font-size: 8px;
        padding: 6px 0;
    }


    .content input {
        font-size: 8px;
        width: 160px;
        height: 20px;
    }


    .content button {
        font-size: 8px;
        height: 20px;
        width: 110px;
    }
}


@media (max-width: 400px) {
    .container__body {
        height: 20vh;
    }
}
