/* intro */

.intro {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/backgrounds/ruf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.intro__shop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


#intro__shop_id {
    width: 100px;
    height: 200px;
    opacity: 0;
}


.intro__shop p {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    user-select: none;
}


.intro__shop a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    background-color: black;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    user-select: none;

    transition: all 0.2s linear;
}


.intro__shop a:hover {
    background-color: white;
    color: black;
    border: solid 1px white;
}


/* container */

.container {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0 70px;
}


#first {
    padding-top: 150px;
}


#second {
    padding-bottom: 150px;
}


.container__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


#container__inner-two {
    margin-top: 150px;
    overflow: hidden;
}


#container__inner-three {
    margin-top: -150px;
    overflow: hidden;
}


.container__one,
.container__two,
.container__three,
.container__four {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: transform 1s;
}


.container__one:hover,
.container__two:hover,
.container__three:hover,
.container__four:hover {
    transform: scale(1.1);
}


.container__one p,
.container__two p,
.container__three p,
.container__four p {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
}


.container__one p {
    color: black;
}


.container__buttons {
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 18px;
    background-color: black;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    transition: all 0.2s linear;
    z-index: 500;
    user-select: none;
}


.container__one a:hover,
.container__two a:hover,
.container__three a:hover,
.container__four a:hover {
    color: black;
    background-color: white;
    border: solid 1px white;
}


.container__one {
    background-image: url("../../images/block/gucci.jpg");
}


.container__two {
    background-image: url("../../images/block/puma.jpg");
}


.container__three {
    background-image: url("../../images/block/smile.jpg");
}


.container__four {
    background-image: url("../../images/block/balmain.jpg");
}


.container__one:after,
.container__two:after,
.container__three:after,
.container__four:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}


/* box */

.box {
    margin: 150px 0;
}


#box__img-1,
#box__img-2,
#box__img-3 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#box__img-1 {
    background-image: url("../../images/backgrounds/man.jpg");
}


#box__img-2 {
    background-image: url("../../images/backgrounds/woman.jpg");
}


#box__img-3 {
    background-image: url("../../images/backgrounds/summer.jpg");
}


/* body */

.body {
    background-image: url("../../images/block/fon.jpg");
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.body__info {
    max-width: 500px;
    text-align: center;
}


.body__info h2 {
    color: white;
    font-size: 44px;
    user-select: none;
}


.body__info p {
    margin-top: 20px;
    color: white;
    font-size: 24px;
    opacity: 0.9;
    user-select: none;
}


/* content */

.content {
    width: 100%;
    max-width: 600px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}


.content h2 {
    font-size: 32px;
}


.content p {
    padding: 20px 0 25px 0;
    opacity: 0.7;
}


.content input {
    width: 250px;
    height: 50px;
    padding-left: 15px;
}


.content button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
}


.content button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

