.product__page__description {
    padding: 50px;
    width: 600px;
    height: 640px;
    background-color: white;
}


.product__page__description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


.product__page__description b {
}


.product__page__description li {
    list-style: square;
    font-size: 15px;
    margin: 5px 0 0 20px;
}


.product__page__description p {
    text-align: justify;
    margin-top: 20px;
    font-size: 14px;
}
